<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Movie</th>
            <th>Release date</th>
            <th>Movie type</th>
            <th>Favourite actor</th>
            <th>Movie URL</th>
            <th>Added By</th>
            <th>Likes</th>
            <th>Actions</th>
        </tr>


        <% items.forEach(function(item){  %>
        <tr>
            <td> <%=item.movieName %></td>
            <td> <%=item.releaseDate %> </td>
            <td> <%=item.movieType %> </td>
            <td> <%=item.favouriteActor %> </td>
            <td> <%=item.movieURL %> </td>
            <td> <%=item.addedBy %> </td>
            <td><%=item.likes %> </td>
            <td>
                <a href="/like?item=<%= item.movieName%>"><i class="thumb_up material-icons">thumb_up</i></a>
                <a href="/delete?item=<%= item.movieName%>"><i class="delete material-icons">delete</i></a>
            </td>

        </tr>






        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
